$version: '2.6';

$primary-color: #94e06e; //ORG: #e56524
$primary-color-lt: #bdeca5;
$primary-color-dk: #4b6d39;

$menu-color: #e7f1ff;
$menu-background: rgba(58, 58, 58, 0.51);

$table-color: rgba(0, 0, 0, 0.73); // #fff;
$secondary-color: #a4bee2;
$odd-color: rgba(245, 246, 249, 0.06); // #f5f6f9;

$default-fontsize: 1em;
$large-fontsize: 1.1em;